.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", tasks_path
      %li.active= link_to "New Task", new_task_path
  .content
    %h2.title= "New Task"
    .inner
      - form_for :task, :url => tasks_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

