.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", users_path
      %li.active= link_to "New", new_user_path
  .content
    %h2.title= "New User"
    .inner
      - form_for :user, :url => users_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
